<div class="row" cg-busy="vm.promise">
  <div class="col-md-12">
    <div class="portlet light" id="rootwizard">
      <div class="portlet-title">
        <div class="caption">
          <i class=" icon-layers font-red"></i>
          <span class="caption-subject font-red bold uppercase"> Client's Profile
          </span>
        </div>
      </div>
      <div class="portlet-body form">
        <div class="form-horizontal">
          <div class="form-wizard">
            <div class="form-body">
              <div class="navbar mb0">
                <div class="navbar-inner">
                  <ul class="nav nav-pills nav-justified steps truc_whiz">
                    <li>
                      <a data-target="#tab1" data-toggle="tab">
                        <span class="gray_bg">1</span> Client's Profile </a>
                    </li>
                    <li>
                      <a data-target="#tab2" data-toggle="tab">
                        <span class="gray_bg">2</span> Shift Profile </a>
                    </li>
                  </ul>
                </div>
              </div>

              <div id="bar" class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                  style="width: 0%;"></div>
              </div>

              <div class="tab-content">
                <div class="tab-pane" id="tab1">
                  <form name="addProfileForm" novalidate>
                    <div class="row addEmployee-row">
                      <div class="col-md-6">
                        <label class="control-label col-md-4">Client Name
                          <span class="required"> * </span>
                        </label>
                        <div class="col-md-8" ng-class="{ 'has-error' : addProfileForm.empName.$invalid && !addProfileForm.empName.$pristine}">
                          <input type="text" placeholder="Write client name" ng-model="vm.clientProfile.Employer_Name"
                            class="form-control" name="empName" ng-minlength="1" ng-maxlength="20" ng-pattern='/^([a-zA-z\s]{1,20})$/'
                            readonly />
                          <span class="help-block" ng-messages="addProfileForm.empName.$error" ng-if="addProfileForm.empName.$dirty && addProfileForm.empName.$invalid">
                            <span ng-show="addProfileForm.empName.$error.required">Client name is required.</span>
                            <span ng-show="addProfileForm.empName.$error.pattern">Invalid employee name.</span>
                            <span ng-show="addProfileForm.empName.$error.minlength">First name is too short.</span>
                            <span ng-show="addProfileForm.empName.$error.maxlength">First name is too long.</span>
                          </span>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <label class="control-label col-md-4">Over Time Scheme :
                          <span class="required"> * </span>
                        </label>
                        <div class="col-md-8" ng-class="{ 'has-error' : addProfileForm.overTimeScheme.$invalid && !addProfileForm.overTimeScheme.$pristine}">
                          <select required class="form-control" ng-model="vm.employersProfiles.Over_Time_Scheme" id="Over_Time_Scheme"
                            name="overTimeScheme">
                            <option value="" selected disabled hidden>Select</option>
                            <option value="Daily">Daily</option>
                            <option value="Monday">Monday</option>
                            <option value="Tuesday">Tuesday</option>
                            <option value="Wednesday">Wednesday</option>
                            <option value="Thursday">Thursday</option>
                            <option value="Friday">Friday</option>
                            <option value="Saturday">Saturday</option>
                            <option value="Sunday">Sunday</option>
                          </select>
                          <span class="help-block" ng-messages="addProfileForm.overTimeScheme.$error" ng-if="addProfileForm.overTimeScheme.$dirty && addProfileForm.overTimeScheme.$invalid">
                            <span ng-show="addProfileForm.overTimeScheme.$error.required">Option is required.</span>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="row addEmployee-row">
                      <div class="col-md-6">
                        <label class="control-label col-md-4">Markup
                          <span class="required"> * </span>
                        </label>
                        <div class="col-md-8" ng-class="{ 'has-error' : addProfileForm.markupCommision.$invalid && !addProfileForm.markupCommision.$pristine}">
                          <input type="number" placeholder="$" min="0" ng-model="vm.employersProfiles.Regular_Commision"
                            class="form-control" name="markupCommision" required />
                          <span class="help-block" ng-messages="addProfileForm.markupCommision.$error" ng-if="addProfileForm.markupCommision.$dirty && addProfileForm.markupCommision.$invalid">
                            <span ng-show="addProfileForm.markupCommision.$error.required">Field is required.</span>
                          </span>
                          <!-- <span ng-show="addProfileForm.markupCommision.$error.pattern">Invalid employee name.</span> -->
                        </div>
                      </div>
                      <div class="col-md-6">
                        <label class="control-label col-md-4">Over-Time Markup
                          <span class="required"> * </span>
                        </label>
                        <div class="col-md-8" ng-class="{ 'has-error' : addProfileForm.overTimeMarkup.$invalid && !addProfileForm.overTimeMarkup.$pristine}">
                          <input type="number" placeholder="$" min="0" ng-model="vm.employersProfiles.Over_Time_Commision"
                            class="form-control" name="overTimeMarkup" required />
                          <span class="help-block" ng-messages="addProfileForm.overTimeMarkup.$error" ng-if="addProfileForm.overTimeMarkup.$dirty && addProfileForm.overTimeMarkup.$invalid">
                            <span ng-show="addProfileForm.overTimeMarkup.$error.required">Field is required.</span>
                          </span>
                          <!-- <span ng-show="addProfileForm.overTimeMarkup.$error.pattern">Invalid employee name.</span> -->
                        </div>
                      </div>
                    </div>
                    <div class="row addEmployee-row">
                      <div class="col-md-6">
                        <label class="control-label col-md-4">Background Check Cost:
                          <span class="required"> * </span>
                          <br>(one time for an employee)
                        </label>
                        <div class="col-md-8" ng-class="{ 'has-error' : addProfileForm.CheckCost.$invalid && !addProfileForm.CheckCost.$pristine}">
                          <input type="number" placeholder=" $ " min="0" ng-model="vm.employersProfiles.Background_Test_Cost"
                            class="form-control" name="CheckCost" required />
                          <span class="help-block" ng-messages="addProfileForm.CheckCost.$error" ng-if="addProfileForm.CheckCost.$dirty && addProfileForm.CheckCost.$invalid">
                            <span ng-show="addProfileForm.CheckCost.$error.required">Cost is required.</span>
                          </span>
                          <!-- <span ng-show="addProfileForm.CheckCost.$error.pattern">Invalid employee name.</span> -->
                        </div>
                      </div>
                      <div class="col-md-6">
                        <label class="control-label col-md-4">Drug Test Cost :
                          <span class="required"> * </span>
                          <br>(one time for an employee)
                        </label>
                        <div class="col-md-8" ng-class="{ 'has-error' : addProfileForm.DrugCost.$invalid && !addProfileForm.DrugCost.$pristine}">
                          <input type="number" placeholder=" $ " min="0" ng-model="vm.employersProfiles.Drug_Test_Cost"
                            class="form-control" name="DrugCost" required />
                          <span class="help-block" ng-messages="addProfileForm.DrugCost.$error" ng-if="addProfileForm.DrugCost.$dirty && addProfileForm.DrugCost.$invalid">
                            <span ng-show="addProfileForm.DrugCost.$error.required">Cost is required.</span>
                          </span>
                          <!-- <span ng-show="addProfileForm.DrugCost.$error.pattern">Invalid employee name.</span> -->
                        </div>
                      </div>
                    </div>

                    <div class="row addEmployee-row">
                      <div class="col-md-6">
                        <label class="control-label col-md-4">Minimum work Hrs:
                          <span class="required"> * </span>
                        </label>
                        <div class="col-md-8" ng-class="{ 'has-error' : addProfileForm.minWorkHours.$invalid && !addProfileForm.minWorkHours.$pristine}">
                          <input type="number" placeholder=" $ " min="0" ng-model="vm.employersProfiles.Minimum_Work_Hours"
                            class="form-control" name="minWorkHours" required />
                          <span class="help-block" ng-messages="addProfileForm.minWorkHours.$error" ng-if="addProfileForm.minWorkHours.$dirty && addProfileForm.minWorkHours.$invalid">
                            <span ng-show="addProfileForm.minWorkHours.$error.required">Field is required.</span>
                          </span>
                        </div>
                      </div>
                    </div>
                  </form>

                  <div class="portlet light portlet-fit application_print">
                    <ul class="list-group">
                      <li class="list-group-item addShift-bgClr">
                        <div class="portlet-body application_print">
                          <div class="row">
                            <div class="col-md-12">
                              <h3>Conversion Time </h3>
                            </div>
                          </div>
                          <form name="conversionform" novalidate>
                            <div class="row addEmployee-row">
                              <div class="col-md-4 text-center">
                                <label class="control-label col-md-4">From Hours
                                  <span class="required"> * </span>
                                </label>
                                <div class="col-md-8" ng-class="{ 'has-error' : conversionform.ConversionFormTime.$invalid && !conversionform.ConversionFormTime.$pristine}">
                                  <input type="number" placeholder="No. of Hrs" name="ConversionFormTime" ng-model="vm.ConversionTimeDetails.From_Hours"
                                    class="form-control" min="1" required />
                                  <span class="help-block" ng-messages="conversionform.ConversionFormTime.$error" ng-if="conversionform.ConversionFormTime.$dirty && conversionform.ConversionFormTime.$invalid">
                                    <span ng-show="conversionform.ConversionFormTime.$error.required">From Hours is
                                      required.</span>
                                    <span ng-show="conversionform.ConversionFormTime.$error.min">Invalid Hours. From
                                      Hours should be greater than 0</span>
                                  </span>
                                </div>
                              </div>
                              <div class="col-md-4 text-center">
                                <label class="control-label col-md-4">To Hours
                                  <span class="required"> * </span>
                                </label>
                                <div class="col-md-8" ng-class="{ 'has-error' : conversionform.ConversionToTime.$invalid && !conversionform.ConversionToTime.$pristine}">
                                  <input type="number" placeholder="No. of Hrs" min="{{vm.ConversionTimeDetails.From_Hours}}"
                                    ng-model="vm.ConversionTimeDetails.To_Hours" class="form-control" name="ConversionToTime"
                                    required />
                                  <span class="help-block" ng-messages="conversionform.ConversionToTime.$error" ng-if="conversionform.ConversionToTime.$dirty && conversionform.ConversionToTime.$invalid">
                                    <span ng-show="conversionform.ConversionToTime.$error.required">To Hours is
                                      required.</span>
                                    <span ng-show="conversionform.ConversionToTime.$error.min">Invalid Hours.To Hours
                                      should be equal or
                                      greater than From Hours.
                                    </span>
                                  </span>
                                </div>
                              </div>
                              <div class="col-md-4 text-center">
                                <label class="control-label col-md-4">Conversion Fee
                                  <span class="required"> * </span>
                                </label>
                                <div class="col-md-8" ng-class="{ 'has-error' : conversionform.ConversionFee.$invalid && !conversionform.ConversionFee.$pristine}">
                                  <input type="number" placeholder="Amount (In Percent)" ng-model="vm.ConversionTimeDetails.Conversion_Fee"
                                    class="form-control" min="0" name="ConversionFee" required />
                                  <span class="help-block" ng-messages="conversionform.ConversionFee.$error" ng-if="conversionform.ConversionFee.$dirty && conversionform.ConversionFee.$invalid">
                                    <span ng-show="conversionform.ConversionFee.$error.required">Conversion Fee is
                                      required.</span>
                                  </span>
                                </div>
                              </div>
                            </div>

                            <div class="row addEmployee-row">
                              <div class="form-actions">
                                <div class="col-md-12 text-right">
                                  <button class="margin-top-10 hidden-print btn btn-xs btn-primary pull-right" style="
                                              margin-right: 30px;"
                                    ng-disabled="conversionform.$invalid" ng-click="vm.addConversionTimeList()">
                                    <i class="fa fa-plus"></i> </button>
                                </div>
                              </div>
                            </div>
                          </form>
                          <div class="portlet light portlet-fit application_print" ng-show="vm.employersProfiles.conversionTimes.length">
                            <ul class="list-group">
                              <li class="list-group-item addJobShift-bgClr">
                                <table class="table">
                                  <thead>
                                    <th class="text-center">From Hours</th>
                                    <th class="text-center">To Hours</th>
                                    <th class="text-center">Conversion Fee</th>
                                    <th class="text-center">Actions</th>
                                  </thead>
                                  <tbody>
                                    <tr ng-repeat="conversion in vm.employersProfiles.conversionTimes track by $index">
                                      <td class="text-center"> {{conversion.From_Hours}} </td>
                                      <td class="text-center"> {{conversion.To_Hours}} </td>
                                      <td class="text-center"> {{conversion.Conversion_Fee}} </td>
                                      <td class="text-center">
                                        <button ng-click="vm.editConversionData($index)" class="btn btn-xs btn-primary">
                                          <i class="glyphicon glyphicon-edit"></i> </button>
                                        <button ng-click="vm.deleteConversionTime($index)" class="btn btn-xs btn-primary">
                                          <i class="glyphicon glyphicon-trash"></i> </button>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="tab-pane" id="tab2" active="false">
                  <div class="portlet light portlet-fit application_print">
                    <form name="shiftform" ng-submit="submitForm(shiftform.$valid)" ng-model='vm.tab2FromData'
                      novalidate>
                      <ul class="list-group">
                        <li class="list-group-item addShift-bgClr">
                          <div class="portlet-body application_print">
                            <div class="row">
                              <div class="col-md-12">
                                <h3>Shift Profile </h3>
                              </div>
                            </div>
                            <div class="row addEmployee-row">
                              <div class="col-md-6">
                                <label class="control-label col-md-3 text-center">Shift
                                  <span class="required"> * </span>
                                </label>
                                <div class="col-md-9" ng-class="{ 'has-error' : shiftform.empShift.$invalid && !shiftform.empShift.$pristine}">
                                  <select class="form-control" ng-model="vm.employerShifts.Shift" name="empShift"
                                    required>
                                    <option value="">Select</option>
                                    <option value="Daily">Daily</option>
                                    <option value="Morning">Morning</option>
                                    <option value="Day">Day</option>
                                    <option value="Night">Night</option>
                                  </select>
                                  <span class="help-block" ng-messages="shiftform.empShift.$error" ng-if="shiftform.empShift.$dirty && shiftform.empShift.$invalid">
                                    <span ng-show="shiftform.empShift.$error.required">Option is required.</span>
                                  </span>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <label class="control-label col-md-3 text-center">Break:
                                  <span class="required"> * </span>
                                </label>
                                <div class="col-md-9" ng-class="{ 'has-error' : shiftform.Break.$invalid && !shiftform.Break.$pristine}">
                                  <input type="number" min="0" ng-model="vm.employerShifts.Break" class="form-control"
                                    name="Break" required />
                                  <span class="help-block" ng-messages="shiftform.Break.$error" ng-if="shiftform.Break.$dirty && shiftform.Break.$invalid">
                                    <span ng-show="shiftform.Break.$error.required">Field is required.</span>
                                  </span>
                                </div>
                              </div>
                            </div>

                            <div class="row addEmployee-row">
                              <div class="col-md-6">
                                <label class="control-label col-md-3 text-center">Start Time :
                                  <span class="required"> * </span>
                                </label>
                                <div class="col-md-9">
                                  <div class='input-group date' id='addProfileStartTimeDatePicker' ng-class="{ 'has-error' : shiftform.empStartTime.$invalid && !shiftform.empStartTime.$pristine}">
                                    <input type="text" autocomplete="off" ng-model="vm.employerShifts.Start_Time" class="form-control"
                                      name="empStartTime" required />
                                    <span class="input-group-addon">
                                      <span class="glyphicon glyphicon-time"></span>
                                    </span>
                                    <span class="help-block" ng-messages="shiftform.empStartTime.$error" ng-if="shiftform.empStartTime.$dirty && shiftform.empStartTime.$invalid">
                                      <span ng-show="shiftform.empStartTime.$error.required">Field is required.</span>
                                    </span>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <label class="control-label col-md-3 text-center">End Time
                                  <span class="required"> * </span>
                                </label>
                                <div class="col-md-9">
                                  <div class='input-group date' id='addProfileEndTimeDatePicker'>
                                    <input type='text' autocomplete="off" class="form-control" name="startTime"
                                      ng-model="vm.employerShifts.End_Time" ng-required="true" />
                                    <span class="input-group-addon">
                                      <span class="glyphicon glyphicon-time"></span>
                                    </span>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="row addEmployee-row">
                              <div class="col-md-6">
                                <label class="control-label col-md-3 text-center">Days :
                                  <span class="required"> * </span>
                                </label>
                                <div class="col-md-9" ng-class="{ 'has-error' : shiftform.ShiftDay.$invalid && !shiftform.ShiftDay.$pristine}">
                                  <select class="form-control" ng-model="vm.employerShifts.Days" name="ShiftDay"
                                    required>
                                    <option value="">Select</option>
                                    <option value="Daily">Daily</option>
                                    <option value="Monday">Monday</option>
                                    <option value="Tuesday">Tuesday</option>
                                    <option value="Wednesday">Wednesday</option>
                                    <option value="Thursday">Thursday</option>
                                    <option value="Friday">Friday</option>
                                    <option value="Saturday">Saturday</option>
                                    <option value="Sunday">Sunday</option>
                                  </select>
                                  <span class="help-block" ng-messages="shiftform.ShiftDay.$error" ng-if="shiftform.ShiftDay.$dirty && shiftform.ShiftDay.$invalid">
                                    <span ng-show="shiftform.ShiftDay.$error.required">Option is required.</span>
                                  </span>
                                </div>
                              </div>
                              <div class="row addEmployee-row">
                                <div class="form-actions">
                                  <div class="col-md-12 text-right">
                                    <button type="submit" ng-disabled="shiftform.$invalid" ng-click="vm.saveShiftDetails()"
                                      class="btn blue addShiftBtn mg-right">
                                      Save Shift</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="portlet light portlet-fit application_print" ng-show="vm.employersProfiles.employerShifts.length">
                              <div class="row">
                                <div class="col-md-12">
                                  <h3 style="margin: 11px !important;">Shift Profile </h3>
                                </div>
                              </div>
                              <div class="panel-group">
                                <div class="panel panel-default">
                                  <div class="panel-heading font-panel">
                                    <div class="row pd5 text-center">
                                      <div class="col-sm-1">
                                        #
                                      </div>
                                      <div class="col-sm-1">
                                        Shifts
                                      </div>
                                      <div class="col-sm-2">
                                        Days
                                      </div>
                                      <div class="col-sm-2">
                                        Start Time
                                      </div>
                                      <div class="col-sm-2">
                                        End Time
                                      </div>
                                      <div class="col-sm-2">
                                        Actions
                                      </div>
                                      <div class="col-sm-2">
                                        Add Job Description
                                      </div>
                                    </div>
                                    <div class="row pd5 text-center">
                                      <div ng-repeat="shift in vm.employersProfiles.employerShifts track by $index">
                                        <div class="row pd5">
                                          <div class="col-sm-1 cursor">
                                            <div data-toggle="collapse" href="app/empAddShift/#collapse{{$index}}"
                                              ng-click="vm.findIndex($index);">{{$index + 1}}</div>
                                          </div>
                                          <div class="col-sm-1 cursor">
                                            <div data-toggle="collapse" href="app/empAddShift/#collapse{{$index}}"
                                              ng-click="vm.findIndex($index);">
                                              {{shift.Shift}} </div>
                                          </div>
                                          <div class="col-sm-2 cursor">
                                            <div data-toggle="collapse" href="app/empAddShift/#collapse{{$index}}"
                                              ng-click="vm.findIndex($index);">
                                              {{shift.Days}} </div>
                                          </div>
                                          <div class="col-sm-2 cursor">
                                            <div data-toggle="collapse" href="app/empAddShift/#collapse{{$index}}"
                                              ng-click="vm.findIndex($index);">
                                              {{shift.Start_Time}} </div>
                                          </div>
                                          <div class="col-sm-2 cursor">
                                            <div data-toggle="collapse" href="app/empAddShift/#collapse{{$index}}"
                                              ng-click="vm.findIndex($index);">
                                              {{shift.End_Time}} </div>
                                          </div>
                                          <div class="col-sm-2">
                                            <button class="btn-custom" ng-click="vm.editshift($index, shift)" ng-class="{active : vm.activeEditMenu === shift}">
                                              <i class="glyphicon glyphicon-edit"></i> </button>
                                            <button class="btn-primary btn-custom" ng-click="vm.deleteShift($index)"
                                              class="btn btn-xs btn-primary">
                                              <i class="glyphicon glyphicon-trash"></i> </button>
                                          </div>
                                          <div class="col-sm-2">
                                            <button class="btn-custom" data-toggle="modal" data-target="#basicModal"
                                              ng-click="vm.showShiftJobDescription($index, shift)" ng-class="{active : vm.activeMenu === shift}">
                                              <i class="glyphicon glyphicon-plus"></i> </button>
                                          </div>
                                        </div>
                                        <div id="collapse{{$index}}" class="panel-collapse collapse">
                                          <div class="row">
                                            <div class="col-md-12 panel-custom">
                                              <h3>Job Description </h3>
                                            </div>
                                          </div>
                                          <ul class="list-group">
                                            <li class="list-group-item addJobShift-bgClr">
                                              <table class="table">
                                                <thead>
                                                  <th class="text-center">#</th>
                                                  <th class="text-center">Regular Pay</th>
                                                  <th class="text-center">Over Time Pay</th>
                                                  <th class="text-center">Job Profile</th>
                                                  <th class="text-center">Actions</th>
                                                </thead>
                                                <tbody>
                                                  <tr ng-repeat="jobDescription in shift.shiftJobProfiles track by $index">
                                                    <td class="text-center"> {{$index + 1}} </td>
                                                    <td class="text-center"> {{jobDescription.Regular_Pay}} </td>
                                                    <td class="text-center"> {{jobDescription.Over_Time_Pay}} </td>
                                                    <td class="text-center">
                                                      {{vm.filterJobProfile(jobDescription.Job_Profile_Id)}} </td>
                                                    <td class="text-center">
                                                      <button ng-click="vm.editJobDescription($index)" data-toggle="modal"
                                                        data-target="#basicModal" class="btn btn-xs btn-primary">
                                                        <i class="glyphicon glyphicon-edit"></i> </button>
                                                      <button ng-click="vm.deleteJobDescription($index)" class="btn btn-xs btn-primary">
                                                        <i class="glyphicon glyphicon-trash"></i> </button>
                                                    </td>
                                                  </tr>
                                                </tbody>
                                              </table>
                                            </li>
                                          </ul>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </form>

                    <div class="modal fade modal-width" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal"
                      aria-hidden="true" data-backdrop="static" data-keyboard="false">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <div class="modal-title">Job Description</div>
                          </div>
                          <form name="jobDescriptionForm" novalidate>
                            <div class="modal-body">
                              <div class="portlet light portlet-fit application_print">
                                <ul class="list-group">
                                  <li class="list-group-item addJobShift-bgClr">
                                    <div class="portlet-body application_print">
                                      <div class="row addEmployee-row">
                                        <div class="col-md-6">
                                          <label class="control-label col-md-4 alignment">Job Description:
                                            <span class="required"> * </span>
                                          </label>
                                          <div class="col-md-8">
                                            <select class="form-control" name="job" ng-model="vm.shiftJobProfiles.Job_Profile_Id"
                                              ng-options="option.id as option.Profile_Name for option in vm.JobProfiles"
                                              required>
                                              <option value="" selected disabled hidden>Select</option>
                                            </select>
                                          </div>
                                        </div>
                                        <div class="col-md-6">
                                          <label class="control-label col-md-4 alignment">Over Time pay:
                                            <span class="required"> * </span>
                                          </label>
                                          <div class="col-md-8" ng-class="{ 'has-error' : jobDescriptionForm.overTimePay.$invalid && !jobDescriptionForm.overTimePay.$pristine}">
                                            <input type="text" min="0" step=".01" placeholder="$" ng-pattern="/^\d*(\.\d{0,2})?$/"
                                              required ng-model="vm.shiftJobProfiles.Over_Time_Pay" autocomplete="off"
                                              class="form-control" name="overTimePay" id="overTimePay">
                                            <span class="help-block" ng-messages="jobDescriptionForm.overTimePay.$error"
                                              ng-if="jobDescriptionForm.overTimePay.$dirty && jobDescriptionForm.overTimePay.$invalid">
                                              <span ng-show="jobDescriptionForm.overTimePay.$error.pattern">Numbers and
                                                decimal upto 2 floating points only!!</span>
                                            </span>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="row addEmployee-row">
                                        <div class="col-md-6">
                                          <label class="control-label col-md-4 alignment">Regular Pay:
                                            <span class="required"> * </span>
                                          </label>
                                          <div class="col-md-8" ng-class="{ 'has-error' : jobDescriptionForm.regularPay.$invalid && !jobDescriptionForm.regularPay.$pristine}">
                                            <input type="text" placeholder="$" ng-pattern='/^\d*(\.\d{0,2})?$/' min="0"
                                              ng-model="vm.shiftJobProfiles.Regular_Pay" autocomplete="off" required
                                              class="form-control" name="regularPay" id="regularPay">
                                            <span class="help-block" ng-messages="jobDescriptionForm.regularPay.$error"
                                              ng-if="jobDescriptionForm.regularPay.$dirty && jobDescriptionForm.regularPay.$invalid">
                                              <span ng-show="jobDescriptionForm.regularPay.$error.pattern">Numbers and
                                                Decimal upto 2 floating points only!!</span>
                                            </span>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </li>
                                </ul>
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" ng-disabled="jobDescriptionForm.$invalid" class="btn btn-primary pull-left"
                                ng-click="vm.addJobDescription()" data-dismiss="modal">Add Job Description</button>
                              <button type="button" class="btn btn-default pull-right" ng-click="vm.cancelJobDescription()"
                                data-dismiss="modal">Cancel</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <ul class="pager wizard">
                  <li class="previous">
                    <a>Previous</a>
                  </li>
                  <li ng-hide="vm.editForm" class="next">
                    <a>Next</a>
                  </li>
                  <li ng-hide="vm.editForm" class="finish pull-right">
                    <a>Finish</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>