<!-- BEGIN PAGE HEADER-->
<div class="row" cg-busy="vm.promise">
  <div class="col-md-offset-6 col-md-6 col-sm-12 col-xs-12">
    <form name="searchForm" novalidate>
      <div class="input-group searchBox">
        <input type="text" ng-model="vm.search" class="form-control" placeholder="Search" id="txtSearch" ng-keyup="$event.keyCode == 13 && vm.globalSearch(vm.search)"
          required />
        <div class="input-group-btn">
          <button class="btn btn-primary" type="submit" ng-disabled="searchForm.$invalid" ng-click="vm.globalSearch(vm.search)">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- END PAGE HEADER-->
<div class="portlet box green">
  <div class="portlet-title">
    <div class="caption">
      <i class="fa fa-cogs"></i>All Client List
    </div>
    <!-- TODO <div class="caption" ng-show="vm.userData.user[0].role === '0'">
        <i class="fa fa-cogs"></i>Candidate Application List </div> -->
    <!-- <a href="" class="margin-top-10 hidden-print btn btn-xs btn-primary pull-right" style="
      margin-left:  5px;"
      ui-sref="app.addEmployee">
      <i class="fa fa-plus"></i> Add Employee</a> -->
  </div>
  <div class="portlet-body">
    <div class="table-responsive">
      <table id="empList" ng-model="vm.employerList.list" datatable="ng" width="100%" cellspacing="0" class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th> # </th>
            <th> Name </th>
            <th> Number of clients </th>
            <th> Actions </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="employer in vm.employerList.list">
            <td> {{$index + 1}}</td>
            <td>{{employer.Employer_Name}} </td>
            <td>{{employer.Email}}</td>
            <td class="text-center">
              <a ng-click="vm.goToEmployeeDetail(employer.id)" class="btn btn-xs btn-primary">
                <i class="fa fa-eye"></i>
              </a>
              <a ng-click="vm.gotoAddEmployee(employer)" class="hidden-print btn btn-xs btn-primary">
                <i class="fa fa-plus"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>