<!-- BEGIN PAGE HEADER-->
<div class="row hidden-print" cg-busy="vm.promise">
  <div class="col-md-6">
    <h1 class="page-title">Self Identification</h1>
  </div>
  <!-- <div class="col-md-6">
    <div class="page-bar">
      <ul class="page-breadcrumb">
        <li>
          <i class="icon-home"></i>
          <a href="" ui-sref="app.home">Home</a>
          <i class="fa fa-angle-right"></i>
        </li>
        <li>
          <a href="" ng-click="vm.goToCandidateDetail()">Candidate Details</a>
          <i class="fa fa-angle-right"></i>
        </li>
        <li>
          <a href="">
            <span>Self Identification</span>
          </a>
        </li>
      </ul>

    </div>
  </div> -->
</div>
<!-- END PAGE HEADER-->

<div class="row">
  <div class="col-md-12">
    <div class="portlet light portlet-fit ">
      <div class="portlet-title">
        <div class="caption text-center">
          <i class=" icon-layers font-green"></i>
          <span class="caption-subject font-green bold uppercase">Invitation to Identify for Affirmative Action
            Purposes</span>
        </div>
        <button class="btn btn-primary pull-right btn-xs hidden-print" ng-click="vm.edit()" ng-hide="!vm.isEdit"><i
            class="fa fa-edit"></i> Edit</button>
      </div>
      <div class="portlet-body">

        <p>
          <strong>Completing this form is voluntary and is not a requirement for employment</strong>
        </p>
        <p>Please complete this New Hire EEO-1 Data Sheet. It will supply us with information we need for federal
          reporting obligations.
          Please be advised that this information will be used and kept confidential, in accordance with applicable
          laws and regulations.
          This information will not be used as the basis for any adverse employment decision.</p>
        <div class="row">
          <div class="col-md-6 col-xs-6">
            <p>
              Name: <strong>{{vm.candidatDetails.First_Name}} {{vm.candidatDetails.Last_Name}}</strong>
            </p>
          </div>
          <div class="col-md-6  col-xs-6">
            <p class="text-right">
              Social Security: <strong>XXX-XX-{{vm.candidatDetails.Social_Security_Number.slice(-4);}}</strong>
              <a href="" class="margin-left-16 btn btn-xs hidden-print btn-primary" data-toggle="modal" data-target="#basic">
                <i class="fa fa-eye"></i>
              </a>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h3>EEO-1 Self Identification</h3>
          </div>
        </div>
        <p>We are subject to certain government recordkeeping and reporting requirements for the administration of
          civil rights
          laws and regulations. To comply with these laws, we invite you to voluntarily self-identify your race or
          ethnicity.
          Submission of this information is voluntary and refusal to provide it will not subject you to any adverse
          treatment.
          The information obtained will be kept confidential and separate from personnel files. It may only be used in
          accordance
          with the provisions of applicable laws, executive orders, and regulations, including those requiring
          information to
          be summarized and reported to the federal government for civil rights enforcement. When reported, data will
          not identify
          any specific individual.</p>
        <p>
          <strong>
            Please check the EEO Identification Group that best applies to you:
          </strong>
        </p>
        <form name="selfIdentificationForm" novalidate>
          <div class="row">
            <div class="col-md-12">

              <div class="mt-radio-list">
                <label class="mt-radio">
                  <input type="radio" name="optionsRadios" id="optionsRadios22" value="1" ng-model="vm.eeoIdentification"
                    ng-disabled="vm.isEdit" ng-required="!optionsRadios">
                  <strong> Hispanic or Latino: </strong>A person of Cuban, Mexican, Puerto Rican, South or Central
                  American, or other Spanish
                  culture or origin, regardless of race.
                  <span></span>
                </label>
                <p>
                  <strong>-- OR --</strong>
                </p>
                <label class="mt-radio">
                  <input type="radio" name="optionsRadios" id="optionsRadios23" value="2" ng-model="vm.eeoIdentification"
                    ng-disabled="vm.isEdit" ng-required="!optionsRadios">
                  <strong> White (Not Hispanic or Latino):</strong> A person having origins in any of the original
                  peoples of Europe, the Middle
                  East, or North Africa
                  <span></span>
                </label>
                <label class="mt-radio ">
                  <input type="radio" name="optionsRadios" id="optionsRadios24" value="3" ng-model="vm.eeoIdentification"
                    ng-disabled="vm.isEdit" ng-required="!optionsRadios">
                  <strong> Black or African American (Not Hispanic or Latino):</strong> A person having origins in any
                  of the black racial groups
                  of Africa.
                  <span></span>
                </label>

                <label class="mt-radio ">
                  <input type="radio" name="optionsRadios" id="optionsRadios25" value="4" ng-model="vm.eeoIdentification"
                    ng-disabled="vm.isEdit" ng-required="!optionsRadios">
                  <strong> Native Hawaiian or Other Pacific Islander (Not Hispanic or Latino): </strong> A person
                  having origins in any of the
                  peoples of Hawaii, Guam, Samoa, or other Pacific Islands
                  <span></span>
                </label>
                <label class="mt-radio ">
                  <input type="radio" name="optionsRadios" id="optionsRadios26" value="5" ng-model="vm.eeoIdentification"
                    ng-disabled="vm.isEdit" ng-required="!optionsRadios">
                  <strong> Asian (Not Hispanic or Latino): </strong> A person having origins in any of the original
                  peoples of the Far East,
                  Southeast Asia, or the Indian Subcontinent, including, for example, Cambodia, China, India, Japan,
                  Korea, Malaysia,
                  Pakistan, the Philippine Islands, Thailand, and Vietnam.
                  <span></span>
                </label>
                <label class="mt-radio ">
                  <input type="radio" name="optionsRadios" id="optionsRadios27" value="6" ng-model="vm.eeoIdentification"
                    ng-disabled="vm.isEdit" ng-required="!optionsRadios">
                  <strong> American Indian or Alaska Native (Not Hispanic or Latino):</strong> A person having origins
                  in any of the original
                  peoples of North and South America (including Central America), and who maintain tribal affiliation
                  or community
                  attachment.
                  <span></span>
                </label>
                <label class="mt-radio ">
                  <input type="radio" name="optionsRadios" id="optionsRadios28" value="7" ng-model="vm.eeoIdentification"
                    ng-disabled="vm.isEdit" ng-required="!optionsRadios">
                  <strong>Two or More Races (Not Hispanic or Latino): </strong> All persons who identify with more than
                  one of the above races,
                  excluding those who identify themselves as Hispanic or Latino.
                  <span></span>
                </label>

              </div>


              <!--<div class="form-group">
								<label class="col-md-1 control-label text-right">Gender</label>
								<div class="col-md-9">
									<div class="mt-radio-inline">
										<label class="mt-radio">
											<input type="radio" name="optionsRadios1" id="optionsRadios25" value="option1" checked> Male
											<span></span>
										</label>
										<label class="mt-radio">
											<input type="radio" name="optionsRadios1" id="optionsRadios26" value="option2" checked> Female
											<span></span>
										</label>

									</div>
								</div>
							</div>-->
            </div>
          </div>

          <div class="row" ng-hide="vm.isEdit">
            <div class="col-md-12">
              <div class="mt-checkbox-inline">
                <label class="mt-checkbox">
                  <input type="checkbox" ng-change="vm.usePreviousSign()" ng-model="vm.isPreviousSign" id="inlineCheckbox23"
                    ng-hide="vm.isEdit" ng-value="option1"> Use Previous Signature ?
                  <span></span>
                </label>
              </div>
            </div>
          </div>

          <div class="row  margin-top-40">
            <div class="col-md-8 col-xs-8">
              <div class="form-group">
                <label class="control-label col-md-3">Signature
                  <span class="required"> * </span>
                </label>

                <div class="col-md-6">
                  <div class="" ng-hide="vm.isEdit || vm.isPreviousSign" style="min-height: 150px;" ng-style="{'max-width': boundingBox.width + 'px', 'max-height': boundingBox.height + 'px'}">
                    <signature-pad id="canvas" class="signature_box" ng-class="{disabled: vm.signPadDisable}" style="min-height: 150px;"
                      accept="accept" clear="clear" height="220" width="568" dataurl="dataurl" disabled="vm.isEdit"
                      ng-model="vm.signature.dataUrl" ng-required="true"></signature-pad>
                    <div class="buttons text-right">
                      <button class="btn btn-xs btn-default" ng-click="vm.clear()" ng-hide="vm.isEdit">Clear</button>
                      <button class="btn btn-xs btn-success" ng-click="vm.signature = accept();vm.signaturePadDisabled();">Sign</button>
                    </div>
                  </div>
                  <img class="img-responsive signature_img" data-ng-src="{{vm.getImage()}}" ng-if="vm.isEdit || vm.isPreviousSign" />
                </div>
              </div>
            </div>
            <div class="col-md-4 col-xs-4">
              <div class="form-group">
                <label class="control-label col-md-6">Date: {{vm.AssignedDate | date}}</label>
                <!--<div class="col-md-8">
									<input type="text" class="form-control" disabled name="" />
								</div>-->
              </div>
            </div>
          </div>

          <div class="row margin-top-20">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label col-md-4">Employee Name
                    <span class="required"> * </span>
                </label>
                <div class="col-md-8" ng-if="vm.isEdit">{{vm.Employee_Name}}</div>
                <div class="col-md-8" ng-hide="vm.isEdit" ng-class="{ 'has-error' : selfIdentificationForm.employeeName.$invalid && !selfIdentificationForm.employeeName.$pristine}">
                  <input type="text" class="form-control" name="employeeName" ng-model="vm.Employee_Name" ng-pattern="/^([a-zA-Z' ]+)$/"
                    ng-minlength="0" ng-maxlength="25" ng-required="true" />
                  <span class="help-block" ng-messages="selfIdentificationForm.employeeName.$error" ng-if="selfIdentificationForm.employeeName.$dirty && selfIdentificationForm.employeeName.$invalid">
                    <span ng-show="selfIdentificationForm.employeeName.$error.pattern">Invalid Employee Name.</span>
                    <span ng-show="selfIdentificationForm.employeeName.$error.maxlength">Employee Name is too long.</span>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-center">
              <p>If you should have any questions regarding this form, please contact Human Resources.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="text-right">
                <ul class="button-list">
                  <li><button class="btn hidden-print" ng-click="vm.cancel()">Cancel</button></li>
                  <li><button class="btn btn-primary pull-right" ng-disabled="selfIdentificationForm.$invalid" ng-click="vm.submit()"
                      ng-hide="vm.isEdit || vm.showUpdateButton">Submit</button></li>
                  <li><button class="btn btn-primary pull-right" ng-disabled="selfIdentificationForm.$invalid" ng-click="vm.update()"
                      ng-hide="!vm.showUpdateButton">Update</button></li>
                </ul>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="basic" tabindex="-1" role="basic" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div ng-hide="vm.hidePopUp">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
          <h4 class="modal-title">Enter Secure password</h4>
        </div>
        <div class="modal-body">
          <input type="password" autocomplete="off" placeholder="Password" name="password" ng-model="vm.securePassword"
            data-toggle="tooltip" data-placement="top" required />
        </div>
      </div>
      <div class="modal-body" ng-hide="!vm.hidePopUp">
        <h4 class="modal-title">SSN is : <strong>{{vm.ssn}} </strong></h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn dark btn-outline" data-dismiss="modal" ng-click="vm.close()">Close</button>
        <button type="button" class="btn green" ng-hide="vm.hidePopUp" ng-click="vm.getSecurePassword()">Validate</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>